!! Rofi
rofi.color-window: #C0000000, #C0000000, #800000
rofi.color-normal: #00000000, #FFFFFF, #00000000, #008000, #000000
rofi.color-active: #00000000, #FFFFFF, #00000000, #008000, #000000
rofi.color-urgent: #00000000, #800000, #00000000, #800000, #FFFFFF

rofi.bw: 0
rofi.font: FantasqueSansMono Nerd Font 14
rofi.fullscreen: true
rofi.line-margin: 10
rofi.padding: 300
rofi.separator-style: none
rofi.sidebar-mode: true

!! Xft
Xft.antialias:  true
Xft.autohint:   false
Xft.hinting:    true
Xft.hintstyle:  hintslight
Xft.lcdfilter:  lcddefault
Xft.rgba:       rgb
Xft.dpi:        96

!! URxvt
URxvt*cursorUnderline:  false
URxvt*cursorBlink:      true
URxvt*scrollBar:        false
URxvt*secondaryScroll:  true
URxvt*depth:            32 
URxvt*dynamicColors:    on
URxvt.urgentOnBell:     true
URxvt.internalBorder:   32

URxvt.font: xft:Source Code Pro for Powerline:size=11:style=medium
URxvt*letterSpace: -1

!! Color Scheme (One Dark)
*.foreground:   #ABB2BF
*.background:   #282C34
*.cursorColor:  #ABB2BF

! black
*.color0:       #282C34
*.color8:       #5C6370

! red
*.color1:       #E06C75
*.color9:       #E06C75

! green
*.color2:       #98C379
*.color10:      #98C379

! yellow
*.color3:       #D19A66
*.color11:      #D19A66

! blue
*.color4:       #61AFEE
*.color12:      #61AFEE

! magenta
*.color5:       #C678DD
*.color13:      #C678DD

! cyan
*.color6:       #56B6C2
*.color14:      #56B6C2

! white
*.color7:       #ABB2BF
*.color15:      #5C6370
