"*":
  "atom-clock":
    dateFormat: " YYYY-MM-DD | hh:mm A"
    showClockIcon: true
  "atom-ide-ui":
    use: {}
  "atom-material-ui":
    colors:
      abaseColor: "#5c6bc0"
      genAccent: true
      paintCursor: true
      predefinedColor: "Indigo"
    tabs:
      compactTabs: true
      noTabMinWidth: true
      tintedTabBar: true
    ui: {}
  core:
    autoHideMenuBar: true
    disabledPackages: [
      "linter"
    ]
    telemetryConsent: "no"
    themes: [
      "atom-material-ui"
      "atom-snazzy-clear-syntax"
    ]
  editor:
    fontSize: 16
    showInvisibles: true
  "exception-reporting":
    userId: "c9feb51a-0df6-4750-81cb-26d0f8659cdc"
  fonts:
    fontFamily: "Fantasque Sans Mono"
  "git-blame":
    ignoreWhiteSpaceDiffs: true
  "linter-eslint":
    useGlobalEslint: true
  "linter-ui-default":
    panelHeight: 262
  minimap:
    plugins:
      "highlight-selected": true
      "highlight-selectedDecorationsZIndex": 0
      linter: true
      linterDecorationsZIndex: 0
  "platformio-ide-terminal":
    ansiColors:
      normal:
        blue: "#61aeee"
        cyan: "#56b6c2"
        green: "#98c379"
        magenta: "#c678dd"
        red: "#e06c75"
        yellow: "#d19a66"
      zBright:
        brightBlack: "#5c6370"
        brightBlue: "#62afee"
        brightCyan: "#56b6c2"
        brightGreen: "#98c379"
        brightMagenta: "#c678dd"
        brightRed: "#e06c75"
        brightYellow: "#d19a66"
    style:
      fontFamily: "FantasqueSansMono Nerd Font Mono"
      fontSize: "14"
      theme: "one-dark"
    toggles:
      autoClose: true
  "spell-check":
    grammars: [
      "source.asciidoc"
      "source.gfm"
      "text.git-commit"
      "text.plain"
      "text.plain.null-grammar"
      "text.md"
    ]
    locales: [
      "en-US"
    ]
  "split-diff":
    diffWords: true
    ignoreWhitespace: true
    leftEditorColor: "red"
    rightEditorColor: "green"
    scrollSyncType: "Vertical + Horizontal"
  "tree-view":
    hideVcsIgnoredFiles: false
  welcome:
    showOnStartup: false
