# Set personal aliases, overriding those provided by oh-my-zsh libs,
# plugins, and themes. For a full list of active aliases, run `alias`.

alias autoremove='sudo apt autoremove'
alias update='sudo apt update'
alias upgradable='apt list --upgradable'
alias upgrade='sudo apt upgrade'

alias gimme='sudo chown -R $USER:$USER'

alias c='clear'

alias myip='curl https://api.ipify.org; echo'

alias now='date +"%F %T %Z"'

alias dps='docker ps'

alias dca='docker-compose down && docker-compose build && docker-compose up'
alias dcr='docker-compose run --rm'
alias dcs='docker-compose stop'

alias dotfile='stow -vt ~'

alias space='df -h'

alias dst='dropbox status'

alias sizeof='du -chs'

alias path='echo -e ${PATH//:/\\n}'

alias emptydirs='find . -type d -empty'
alias findfile='find . -type f -name'

alias meminfo='free -hlt'

alias gdst='git diff --stat'
alias git='noglob git'
alias gpp='git pull --prune'

alias hgrep='history | grep'

alias cmount='mount | column -t'

alias nautilus='nautilus --no-desktop'

alias ports='netstat -tulanp'

alias reboot='shutdown -r'

alias tldr='tldr -t base16'

alias walf='wal --vte -f'
alias wallf='wal --vte -l -f'
alias wali='wal --backend colorz --vte -o wal-update -i'

alias wgdn='sudo wg-quick down wg0'
alias wgup='sudo wg-quick up wg0'

alias open='xdg-open &>/dev/null'

# Use colorls if available
if type colorls > /dev/null; then
  alias lc='colorls --sd'
  alias lca='colorls -lA --sd'
fi

# -- Functions --
function cheat { curl "https://cheat.sh/$1"; }

function extract {
  if [ -z "$1" ]; then
    # display usage if no parameters given
    echo "Usage: extract <path/file_name>.<zip|rar|bz2|gz|tar|tbz2|tgz|Z|7z|xz|ex|tar.bz2|tar.gz|tar.xz>"
    echo "       extract <path/file_name_1.ext> [path/file_name_2.ext] [path/file_name_3.ext]"
    return 1
  else
    for n in $@
    do
      if [ -f "$n" ] ; then
        case "${n%,}" in
          *.tar.bz2|*.tar.gz|*.tar.xz|*.tbz2|*.tgz|*.txz|*.tar)
                       tar xvf "$n"       ;;
          *.lzma)      unlzma ./"$n"      ;;
          *.bz2)       bunzip2 ./"$n"     ;;
          *.rar)       unrar x -ad ./"$n" ;;
          *.gz)        gunzip ./"$n"      ;;
          *.zip)       unzip ./"$n"       ;;
          *.z)         uncompress ./"$n"  ;;
          *.7z|*.arj|*.cab|*.chm|*.deb|*.dmg|*.iso|*.lzh|*.msi|*.rpm|*.udf|*.wim|*.xar)
                       7z x ./"$n"        ;;
          *.xz)        unxz ./"$n"        ;;
          *.exe)       cabextract ./"$n"  ;;
          *)           echo "extract: '$n' - unknown archive method"
                       return 1           ;;
        esac
      else
          echo "'$n' - file does not exist"
          return 1
      fi
    done
  fi
}
